*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


.max-width{
  max-width: 1300px;
  padding: 0 20px;
  margin: auto;
}

.section{
  padding: 100px 0;
}

.about .title,
.skills .title,
.certificate-head {
  position: relative;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  color: #333;
  margin: 15px 0 30px 0;
  padding-bottom: 8px;
  font-family: 'Ubuntu', sans-serif;
}

.about .title::after,
.skills .title::after,
.certificate-head::after {
  content: "";
  width: 230px;  
  height: 4px;  
  background-color: #333;  
  position: absolute;
  left: 0;
  bottom: -10px; 
}


body, ul {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333; 
  padding: 10px 0;
  position: sticky; 
  top: 0;
  z-index: 1000;
}

nav ul {
  text-align: right; 
}

nav ul li {
  display: inline-block; 
  margin-right: 20px;
}


nav ul li a {
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 15px;
}